.titleCategory {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #222222;

    margin: 20px 5px;
}

.divSearchBar {
    display: flex;
    align-items: center;
    position: relative;
}

.inputSearchBar {
    width: 100%;
    padding: 8px 12px;
    padding-right: 40px;
    border: none;
    background-color: #F3F4F6;

    border-radius: 8px;
    font-size: 16px;

    &::placeholder{
        font-size: 14px;
    }
}

.searchButton {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.searchIcon {
    width: 20px;
    height: 20px;
}

.categoriesContainer {
    margin-top: 15px;
}

.categoryItem {
    font-family: 'Poppins', sans-serif;
    border-color: #9CA3AF;
    color: #9CA3AF;

    margin-top: 10px;
}

.input {
    margin: 10px 5px;
}